@model Amaterasu.Models.Movie
@{
    ViewBag.Title = "Movie";
}

<h2>Movies</h2>
<p>Name: @Model.Name</p>
<p>Genre: @Model.Genre.Name</p>
@if (@Model.ReleaseDate.HasValue)
{
    <p>Release Date: @Model.ReleaseDate</p>
}
<p>Date Added: @Model.DateAdded.ToLongDateString()</p>
<p>Number In Stock: @Model.NumberInStock</p>